/*Styles for Tortoise Shell Optics*/
/*Universal Styles*/
html {
  font-size: 18px;
}
body {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    line-height: 1.4;
}
a {
  color: white;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
header, main, footer {
  width: 960px;
  margin: 0 auto;

}
@media only screen and (max-width: 1024px) {
  header, main, footer {
    width: 100%;
  }
}

/*Header Styles*/
.headerBG {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-top: 1rem;
  height: 30rem;
}
header {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-top: 1rem;
}
.logo img {
    height: 1.5rem;
    width: auto;
}
.logo {
  display: flex;
  align-items: center;
}
.title {
  padding-left: 1rem;
  color: white;
}
.tagline {
  background-color: white;
  padding: 1.5rem 5rem;
  line-height: 1.2rem;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 4rem;
  top: 15rem;
  text-transform: uppercase;

}
@media only screen and (max-width: 1024px) {
  .headerBG {
    padding-top: 0;
    height: 22rem;
  }
  header {
    justify-content: space-around;
  }
  .tagline {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    top: 10rem;
  }
}
@media only screen and (max-width: 764px) {
  .headerBG {
    height: 17rem;
    background-position: 20%;
  }
  header {
    justify-content: space-between;
    position: static;
  }
  .menu {
    display: inline-flex;
  }
  .title {
    display: none;
  }
  .tagline {
    padding: 1rem 0;
    width: 100%;
    top: 9rem;
  }
}
/*Nav Styles*/
nav ul {
  display: inline-flex;
}
nav ul li {
  padding-left: 2rem;
}

nav ul li .menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  nav {
    position:absolute;
    top: 0;
  }
}
/*Main Content Styles*/
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 470px) {
}
/*Services Styles*/
.services {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service img {
  width: 3.5rem;
  height: auto;
}
.service {
  width: 5rem;
  height: 8rem;
  text-align: center;
  flex-direction: column;
  margin: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 470px) {
}
/*About Styles*/
#about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 5rem;
}
.about {
  width: 35%;
  margin-right: 5%;
}
.about h3 {
  background-color: cadetblue;
  width: 10rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 470px) {
}
/*Footer Styles*/
footer {
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4rem;

}
.copyright {
  padding-left: 1rem;
  color: black;
}
@media only screen and (max-width: 470px) {
}
